<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353044346322-nj3ucv7l7fnlnnik52odoa3r3fn9k97v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353044346322-nj3ucv7l7fnlnnik52odoa3r3fn9k97v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>353044346322-tbjnf99qofpvohn6to5tjrfmqv50mkbi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVJdZkiOi-87SdvO5_i1KowpH8uvJxll0</string>
	<key>GCM_SENDER_ID</key>
	<string>353044346322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.e4net.myprojec</string>
	<key>PROJECT_ID</key>
	<string>project2-c3089</string>
	<key>STORAGE_BUCKET</key>
	<string>project2-c3089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353044346322:ios:cc832dd0704494a374040b</string>
	<key>DATABASE_URL</key>
	<string>https://project2-c3089-default-rtdb.firebaseio.com</string>
</dict>
</plist>